*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Permanent Marker', cursive;
  font-size: 16px;
  background-color: antiquewhite;
}

.search-container {
    display: flex;
    justify-content: center;
    width: 15em;
    margin: 5em auto;
}

#site-search {
  width: 30em;
  height: 2em;
  margin-bottom: 0.5em;
}

.search-container p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75em;
  text-align: center;
}

.result-display {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(4, 1fr);
  max-width: 80em;
  margin: 0 auto 1em auto;
}

.movie {
  display: flex;
  flex-direction: column;
}

.movie-image img {
  max-height: 20em;
  max-width: 10em;
}

.movie-image,
.movie-title {
  margin-bottom: 1em;
}